
.btn {

    &,
    &:link,
    &:visited {
    font-size: 1.5rem;
    text-transform: uppercase ;
    text-decoration: none;
    
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;

    animation-name: moveInUp;
    animation-duration: 2s;
    }


    &:hover,
    &:focus {
        outline: none;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translate(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        }
    &--white {
            background-color: white;
        
        }
    &--green {
           background-color: $color-primary;
           color: white;
        
        }

}

.btn-text {
    &:link,
    &:visited {
        font-size:  $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;

        border: none;
        cursor: pointer;
    }

    &:hover {
        
         background-color: $color-primary;
         color: white;
         box-shadow: 0 .5rem 1rem rgba($color-black, 15);
         transform: translateY(0);
    }

    &:active {

    }
}

.btn-profile {
    display: inline;
    margin: 0;
    padding-top: 0;
}