.profile {
    background-color: $color-white;
    margin: 0 auto;
    margin-top: 100px;
    width: 75%;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $profile-font-size;
    text-align: justify;
    transform: skewX(-12deg);
    box-shadow: 0 2rem 5rem rgba($color-black, .15);
    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &__shape {
        
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50% );
        -webkit-shape-outside: circle(50% at 50% 50% );
        clip-path: circle(40% at 50% 50%);
        -webkit-clip-path: circle(40% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }

    }

    &__image {
        float: right;
        height: 100%;
        width: 90%;
        transform: scale(1);
        transition: all .5s;
        
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }


    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.3rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: scale(.8);
        width: 100%;
        filter: blur(3px) brightness(70%);
    }




    
}