.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem !important;
}
.u-margin-top-8 {
    margin-top: 8rem !important;
}

.u-margin-bottom-small {margin-bottom: 1.5rem !important ;}
.u-margin-top-small {margin-top: 0 !important;}
.u-margin-4 {
    margin-top: 1rem  !important;
}